{% extends "base.html" %}
{% load static %}

{% block title %}
Новый документ
{% endblock %}

{% block content %}
<div class="row">
    <h1>Новый документ</h1>
</div>
<div class="row">
    <br>
    <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            {{field.label_tag}}
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
            <div class="input-group">{{field}}</div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </div>
</div>

  <script>
  $(function() {
    $("#id_date").datepicker({
      dateFormat: "dd.mm.yy",
      showOn: "button",
      buttonImage: "{% static 'images/calendar.gif' %}",
      buttonImageOnly: true,
      buttonText: "Выбрать дату",
      monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	  dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
    });
    $(".ui-datepicker-trigger").css("width","30px");
  } );
  </script>
{% endblock %}