
{% extends "base.html" %}

{% block title %}
Документ - {{ document }}
{% endblock%}

{% block content %}
<div class="row">
    <h1>{{ document }}</h1>
<table class="table table-bordered">
  <tbody>
      <tr>
      <td>Тип</td>
      <td>{{ document.type }}</td>
    </tr>
    <tr>
      <td>Номер</td>
      <td>{{ document.nom }}</td>
    </tr>
    <tr>
      <td>Дата</td>
      <td>{{ document.date }}</td>
    </tr>
    <tr>
      <td>Контрагенты</td>
      <td>{{ document.counterparts}}</td>
    </tr>
    <tr>
      <td>Классификаторы</td>
      <td>{{ document.classifiers}}</td>
    </tr>
    <tr>
      <td>Описание</td>
      <td>{{ document.description}}</td>
    </tr>
  </tbody>
</table>
<h1>Задачи по документу</h1>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Краткое описание</th>
      <th scope="col">Описание</th>
      <th scope="col">Направлена пользователю</th>
      <th scope="col">Зарегистрирована</th>
      <th scope="col">Пользователем</th>
    </tr>
  </thead>
  <tbody>
  {% for item in document.Tasks.all %}
    <tr>
      <td>{{ item.date }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.discription }}</td>
      <td>{{ item.user_to}}</td>
      <td>{{ item.sys_date_add }}</td>
      <td>{{ item.sys_user_add }}</td>

    </tr>
   {% endfor %}
  </tbody>
</table>



  <a class="btn btn-success" href="{% url 'docflowapp:task_add' pk=document.pk %}" role="button">Зарегистрировать задачу</a>
</div>
{% endblock %}