{% extends "base.html" %}

{% block title %}
  Делопроизводство
{% endblock %}

{% block content %}
<br>
<h2>Задачи</h2>
<div id="p_tasks">
{% include "docflowapp/partial_task_list.html" with tasks=tasks page_obj=tasks_page_obj %}
</div>
<br>
<hr>
<br>
<h2>Документы</h2>
<div id="p_documents">
{% include "docflowapp/partial_document_list.html" with documents=documents page_obj=documents_page_obj %}
</div>
{% if user.can_add_documents %}
<a class="btn btn-success" href="{% url 'docflowapp:document_add' %}" role="button">Зарегистрировать документ</a>
{% endif %}
{% endblock %}




</script>