{% include "docflowapp/partial_document_table.html" with documents=documents %}
<nav aria-label="Page navigation example">
  <ul class="pagination">

    {% if page_obj.number > 1 %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents(1)">Начало</a></li>
    {% endif %}
    {% if page_obj.number > 2 %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents({{ page_obj.number|add:"-2" }})">{{ page_obj.number|add:"-2" }}</a></li>
    {% endif %}
    {% if page_obj.number > 1 %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents({{ page_obj.number|add:"-1" }})">{{ page_obj.number|add:"-1" }}</a></li>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

    {% if page_obj.number < page_obj.paginator.num_pages  %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents({{ page_obj.number|add:"1" }})">{{ page_obj.number|add:"1"  }}</a></li>
    {% endif %}
    {% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents({ page_obj.number|add:"2" }})">{{ page_obj.number|add:"2" }}</a></li>
    {% endif %}
    {% if page_obj.number < page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="javascript:load_p_documents({{ page_obj.paginator.num_pages }})">Конец</a></li>
    {% endif %}

  </ul>
</nav>

<script>
function load_p_documents(page) {
  url = "{% url 'docflowapp:p_index_documents'%}?page=" + page;
  $('#p_documents').load(url)
  }
</script>