{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
  Делопроизводство - поиск документов
{% endblock %}

{% block content %}
<br>
<br>
<form method="post" id="searchForm">
{% csrf_token %}
{{ search_form|crispy }}
<button type="submit" class="btn btn-primary" id="sendMessageButton">Искать</button>
</form>
  <script>
  $(function() {
    $("#id_date_from, #id_date_to").datepicker({
      dateFormat: "dd.mm.yy",
      showOn: "button",
      buttonImage: "{% static 'images/calendar.gif' %}",
      buttonImageOnly: true,
      buttonText: "Выбрать дату",
      monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	  dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
    });
    $(".ui-datepicker-trigger").css("width","30px");
    $(".ui-datepicker-trigger").parent().addClass("input-group");
  } );
  </script>

{% endblock %}